<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ougnt.period_manager"
    android:versionCode="73"
    android:versionName="3.9">

    <uses-sdk android:minSdkVersion="16" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!--<application android:label="@string/app_name" android:icon="@drawable/icon" android:debuggable="false">-->
    <application
        android:name=".activity.AppForStatic"
        android:icon="@drawable/icon"
        android:label="@string/app_name">
        <activity
            android:name=".activity.InitialActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MenuActivity"
            android:theme="@style/Theme.Transparent" />
        <activity
            android:name=".activity.SummaryActivity"
            android:theme="@style/Theme.Transparent" />
        <activity android:name=".activity.SettingActivity" />
        <activity android:name=".activity.LanguageSelectorActivity" />
        <activity android:name=".activity.TemperatureHelpActivity" />
        <activity android:name=".activity.SetupWizardActivity" />
        <activity android:name=".activity.MainHelpActivity" />
        <activity android:name=".activity.NewActionActivity" />
        <activity
            android:name=".activity.InstructionActivity"
            android:theme="@style/Theme.Transparent" />
        <activity
            android:name="com.google.android.gms.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" />

        <receiver android:name="com.ougnt.period_manager.event.BroadcastNotificationPublisher">
            <intent-filter>
                <action android:name="com.ougnt.period_manager.activity.InitialActivity" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
